<body class="text-center">
  <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>

    <div class="form-group">
      <div class="invalid-feedback d-block" *ngIf="email.invalid && email.touched">
        The email is invalid.
      </div>
      <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Email address">

      <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password">
      <div class="invalid-feedback d-block" *ngIf="password.invalid && password.touched">
        The password is invalid.
      </div>
    </div>

    <button [disabled]="loginForm.invalid" class="btn btn-lg btn-info btn-block" type="submit">Sign In</button>

    <hr class="dashed">

    <div>
      <div style="float: left; cursor: pointer;">
        <span class="text-secondary" routerLink="/forgot-password">Forgot Password?</span>
      </div>
      <div style="float: right; cursor: pointer;">
        <span class="text-secondary" routerLink="/register">Sign Up</span>
      </div>
      <br>
    </div>


    <hr class="double">

    <button class="btn btn-lg btn-primary btn-block" type="button" (click)="this.authService.GoogleAuth();">
      <fa-icon [icon]="faGoogle"></fa-icon>
      Sign in with Google
    </button>
  </form>
</body>