<body class="text-center">
  <form class="form-register" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h1 class="h3 mb-3 font-weight-normal">Register for an Account</h1>
    <input formControlName="email"  type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus="">
    <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-info btn-block" type="submit">Register</button> 

    <hr class="dashed">

    <div style="float: right; cursor: pointer;">
      <span class="text-secondary" routerLink="/login">Return to Login</span>
    </div>

  </form>
</body>


<!-- <div class="displayTable">
    <div class="displayTableCell">
  
      <div class="authBlock">
        <h3>Sign Up</h3>
  
        <div class="formGroup">
          <input type="email" class="formControl" placeholder="Email Address" #userEmail required>
        </div>
  
        <div class="formGroup">
          <input type="password" class="formControl" placeholder="Password" #userPwd required>
        </div>
  
        <div class="formGroup">
          <input type="button" class="btn btnPrimary" value="Sign Up" (click)="authService.SignUp(userEmail.value, userPwd.value)">
        </div>
  
        <div class="formGroup">
          <span class="or"><span class="orInner">Or</span></span>
        </div>
  
        <div class="formGroup">
          <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
            <i class="fab fa-google-plus-g"></i>
            Continue with Google
          </button>
        </div>
  
      <div class="redirectToLogin">
        <span>Already have an account? <span class="redirect" routerLink="/login">Log In</span></span>
      </div>
    </div>
  
  </div> -->