<body class="text-center">
<form (ngSubmit)="onSubmit()" [formGroup]="registerForm" class="form-register">
  <h1 class="h3 mb-3 font-weight-normal">Register for an Account</h1>

  <div class="form-group">
    <div *ngIf="email.invalid && email.touched" class="invalid-feedback d-block">
      The email is invalid.
    </div>
    <input class="form-control" formControlName="email" id="inputEmail" placeholder="Email address" type="email">

    <input class="form-control" formControlName="password" id="inputPassword" placeholder="Password" type="password">
    <div *ngIf="password.invalid && password.touched" class="invalid-feedback d-block">
      The password is invalid.
    </div>
  </div>

  <button [disabled]="registerForm.invalid" class="btn btn-lg btn-info btn-block" type="submit">Register</button>

  <hr class="dashed">

  <div style="float: right; cursor: pointer;">
    <span class="text-secondary" routerLink="/login">Return to Login</span>
  </div>

</form>
</body>
