<form [formGroup]="editReviewForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <div class="modal-header">
            <h4 class="modal-title pull-left">Edit your Review!</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="form-group">
            <label for="rating">
                <h5>Select a Rating:</h5>
            </label>
            <h1>
                <rating [max]=10 formControlName="rating"></rating>
            </h1>
            <p *ngIf="rating.value !== ''">({{rating.value}})</p>
            <div class="invalid-feedback d-block" *ngIf="rating.invalid && rating.touched">
                Please choose a rating!
            </div>
        </div>

        <div class="form-group">
            <label for="review">
                <h5>Write a Review:</h5>
            </label>
            <textarea formControlName="review" class="form-control" id="review" rows="3"></textarea>
            <div class="invalid-feedback d-block" *ngIf="review.invalid && review.touched">
                Please write a review!
            </div>
        </div>

        <div class="modal-footer">
            <button [disabled]="editReviewForm.invalid" class="btn btn-info btn-block" type="submit">Update</button>
        </div>
    </div>
</form>