<form (ngSubmit)="onSubmit()" [formGroup]="editReviewForm">
  <div class="container">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Edit your Review!</h4>
      <button (click)="bsModalRef.hide()" aria-label="Close" class="close pull-right" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="form-group">
      <label for="rating">
        <h5>Select a Rating:</h5>
      </label>
      <h1>
        <rating [max]=10 formControlName="rating"></rating>
      </h1>
      <p *ngIf="rating.value !== ''">({{rating.value}})</p>
      <div *ngIf="rating.invalid && rating.touched" class="invalid-feedback d-block">
        Please choose a rating!
      </div>
    </div>

    <div class="form-group">
      <label for="review">
        <h5>Write a Review:</h5>
      </label>
      <textarea class="form-control" formControlName="review" id="review" rows="3"></textarea>
      <div *ngIf="review.invalid && review.touched" class="invalid-feedback d-block">
        Please write a review!
      </div>
    </div>

    <div class="modal-footer">
      <button [disabled]="editReviewForm.invalid" class="btn btn-info btn-block" type="submit">Update</button>
    </div>
  </div>
</form>
