html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-forgot {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-forgot .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-forgot .form-control:focus {
  z-index: 2;
}

.form-forgot input[type="email"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

hr.dashed {
    border: 0;
    border-top: 1px dashed black; 
    text-align:center;
  }