<!-- display navbar for all routes -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info">
  <a class="navbar-brand" routerLink="/home">Bon Films!</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/reviews">All Reviews</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/films">All Films that are Reviewed</a>
      </li>
      <li *ngIf="authService.userData" class="nav-item">
        <a class="nav-link" routerLink="/create-review">Create a New Review</a>
      </li>
    </ul>

    <!-- show dropdown if user logged in -->
    <div *ngIf="authService.userData as user" class="btn-group" dropdown>
      <button aria-controls="dropdown-basic" class="btn btn-info dropdown-toggle" dropdownToggle id="button-basic"
              type="button">
        {{(user.displayName) ? user.displayName : 'User'}} <span class="caret"></span>
      </button>
      <ul *dropdownMenu aria-labelledby="button-basic" class="dropdown-menu dropdown-menu-right" id="dropdown-alignment"
          role="menu">
        <li role="menuitem"><a class="dropdown-item" routerLink="/my-reviews">My Reviews</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a (click)="authService.SignOut()" class="dropdown-item" href="#">Logout</a>
        </li>
      </ul>
    </div>

    <!-- show login button is no user logged in -->
    <button *ngIf="!authService.userData" class="btn btn-info" routerLink="/login" type="button">
      Login
    </button>
  </div>
</nav>
