<main *ngIf="authService.userData">
  <div *ngIf="!filmReviews || !authService.userData" class="container text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div *ngIf="filmReviews && authService.userData" class="container">
    <div class="py-5 text-center">
      <h2><u>My Reviews</u></h2>
    </div>

    <div *ngFor="let filmReview of filmReviews" class="container-xl">
      <div *ngIf="filmReview.userReviewedId === authService.userData.uid">
        <h2>{{ filmReview.title }}</h2>
        <h5>
          <rating [(ngModel)]="filmReview.rating" max=10 readonly="true"></rating>
          ({{filmReview.rating}})
        </h5>
        <h6> {{ filmReview.review }} </h6>
        <p>Reviewed on: {{filmReview.dateReviewed}}</p>
        <div class="row d-flex justify-content-between">
          <button (click)="openEditReviewModal(filmReview)" class="btn btn-warning" type="button">
            Edit Review
          </button>
          <button (click)="deleteReview(filmReview.id)" class="btn btn-danger" type="button">
            Delete Review
          </button>
        </div>
        <hr>
      </div>
    </div>

  </div>
</main>

<main *ngIf="!authService.userData">
  <div class="container">
    <h1 class="text-center">
      Please login to see your reviews!
    </h1>
    <div class="text-center">
      <button class="btn btn-lg btn-primary" routerLink="/login" type="button">
        Login
      </button>
    </div>
  </div>
</main>
