<body>
<div *ngIf="!review" class="container text-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div *ngIf="review" class="container">
  <div class="row">
    <div class="container-xl">
      <h1>{{ review.film.title }}</h1>
      <p class="lead">by {{ review.userReviewedId }} | {{ review.dateReviewed }}</p>
      <hr>

      <h5><strong>Review</strong></h5>
      <h6>
        <rating [(ngModel)]="review.rating" max=10 readonly="true"></rating>
        ({{review.rating}})
      </h6>
      <p>{{ review.review }}</p>
      <hr>
      <h5><strong>Film Details</strong></h5>
      <p><strong>Synopsis: </strong>{{ review.film.synopsis}}</p>
      <p><strong>Genre: </strong>{{ review.film.genre}}</p>
      <p><strong>Director: </strong>{{ review.film.director}}</p>
      <p><strong>Top Billed Actor: </strong>{{ review.film.topBilling}}</p>
      <p><strong>Producing Studio: </strong>{{ review.film.studio}}</p>
      <hr>

      <h5><strong>Read Other Reviews on {{review.film.title}}</strong></h5>
      <div *ngFor="let filmReview of review.film.reviews">
        <li *ngIf="filmReview.id != review.id">
          <a routerLink="/review/{{filmReview.id}}">Score: {{ filmReview.rating }} / 10 by
            {{ filmReview.userReviewedId }}</a>
        </li>
      </div>

      <br/>
    </div>
  </div>
</div>
</body>
