<main role="main">


  <div class="jumbotron">
    <div *ngIf="!filmReviews" class="container text-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div *ngIf="filmReviews" class="container">
      <h1 class="display-3">{{filmReviews[0].title}}</h1>
      <h3>
        <rating [(ngModel)]="filmReviews[0].rating" max=10 readonly="true"></rating>
        ({{filmReviews[0].rating}})
      </h3>
      <h6> {{ filmReviews[0].review }} </h6>
      <p>Reviewed by: {{ filmReviews[0].userReviewedId }} | {{filmReviews[0].dateReviewed}}</p>
      <p><a [routerLink]="[ '/review', filmReviews[0].id]" class="btn btn-secondary" role="button">Review details
        &raquo;</a></p>
    </div>
  </div>

  <div *ngIf="!filmReviews" class="container text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div *ngIf="filmReviews" class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>{{filmReviews[1].title}}</h2>
        <h5>
          <rating [(ngModel)]="filmReviews[1].rating" max=10 readonly="true"></rating>
          ({{filmReviews[1].rating}})
        </h5>
        <p> {{ filmReviews[1].review }} </p>
        <p>Reviewed by: {{ filmReviews[1].userReviewedId }} | {{filmReviews[1].dateReviewed}}</p>
        <p><a [routerLink]="[ '/review', filmReviews[1].id]" class="btn btn-secondary" role="button">Review details
          &raquo;</a></p>
      </div>

      <div class="col-md-4">
        <h2>{{filmReviews[2].title}}</h2>
        <h5>
          <rating [(ngModel)]="filmReviews[2].rating" max=10 readonly="true"></rating>
          ({{filmReviews[2].rating}})
        </h5>
        <p> {{ filmReviews[2].review }} </p>
        <p>Reviewed by: {{ filmReviews[2].userReviewedId }} | {{filmReviews[2].dateReviewed}}</p>
        <p><a [routerLink]="[ '/review', filmReviews[2].id]" class="btn btn-secondary" role="button">Review details
          &raquo;</a></p>
      </div>

      <div class="col-md-4">
        <h2>{{filmReviews[3].title}}</h2>
        <h5>
          <rating [(ngModel)]="filmReviews[3].rating" max=10 readonly="true"></rating>
          ({{filmReviews[3].rating}})
        </h5>
        <p> {{ filmReviews[3].review }} </p>
        <p>Reviewed by: {{ filmReviews[3].userReviewedId }} | {{filmReviews[3].dateReviewed}}</p>
        <p><a [routerLink]="[ '/review', filmReviews[3].id]" class="btn btn-secondary" role="button">Review details
          &raquo;</a></p>
      </div>
    </div>
  </div>
</main>
